aiohttp==3.7.4
async-timeout==3.0.1
asynctest==0.13.0
attrs==19.3.0
autobahn==19.11.1
autopep8==1.4.4
cffi==1.13.2
chardet==3.0.4
copra==1.2.9
cryptography==2.8
idna==2.8
multidict==4.6.1
pip-autoremove==0.9.1
pycodestyle==2.5.0
pycparser==2.19
python-dateutil==2.8.1
python-dotenv==0.10.3
rope==0.14.0
six==1.13.0
txaio==18.8.1
yarl==1.4.2
